<% include header.html %>
<link rel="stylesheet" href="/static/production/css/layout.css">
<link rel="stylesheet" href="/static/production/css/dialog.css">

<div id="screen">
    <div class="bgWrapper">
        <img src="/static/img/bgimg/bg_04.png" alt=""/>
    </div>

    <div class="main">
        <div class="headerDock">
            <div class="login">
                <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> visitor</a>
            </div>
            <a class="logo" href="/"></a>
            <div class="navBar btn-toolbar">
                <div class="btn-group">
                    <a class="btn btn-large active" href="#"><i class="icon-th"></i>随便逛逛</a>
                    <a class="btn btn-large" href="#"><i class="icon-briefcase"></i>我的工具箱</a>
                    <a class="btn btn-large" href="#"><i class="icon-tasks"></i>我的工作流</a>
                </div>
            </div>
        </div>
        <div class="seprateLine"></div>
        <div class="content">
            <div class="cate">
                <div class="cateName ms-yh">设计吧</div>
                <div class="cateWrapper">
                    <% for(var i = 0; i < tools.design.length; i++) {%>
                        <div class="tools dropdown">
                            <div class="toolsInner dropdown-toggle" role="button" data-toggle="dropdown"></div>
                            <div class="appIcon">
                                <img src="/static/upload/<%= tools.design[i].imgUrl %>" alt=""/>
                            </div>
                            <div class="appName" title="<%= tools.design[i].name %>"><%= tools.design[i].name %></div>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a class="openApp" role="menuitem" href="#" data-app-link="<%= tools.design[i].appUrl %>" data-app-name="<%= tools.design[i].name %>" data-app-img-src="<%= tools.design[i].imgUrl %>"><i class="icon-share"></i> 打开</a></li>
                                <li role="presentation"><a class="addToolBox" role="menuitem" href="#"><i class="icon-plus"></i> 加入到我的工具箱</a></li>
                                <li role="presentation"><a class="addWorkflow" role="menuitem" href="#"><i class="icon-retweet"></i> 加入到我的工作流</a></li>
                                <li role="presentation"><a class="appReference" role="menuitem" href="#"><i class="icon-book"></i> 工具文档</a></li>
                            </ul>
                        </div>
                    <% } %>
                    <div class="scroolBar"></div>
                </div>
            </div>
            <div class="cate">
                <div class="leftLine"></div>
                <div class="cateName ms-yh">开发喽</div>
                <div class="cateWrapper">
                    <% for(var i = 0; i < tools.development.length; i++) {%>
                        <div class="tools dropdown">
                            <div class="toolsInner dropdown-toggle" role="button" data-toggle="dropdown"></div>
                            <div class="appIcon">
                                <img src="/static/upload/<%= tools.development[i].imgUrl %>" alt=""/>
                            </div>
                            <div class="appName" title="<%= tools.development[i].name %>"><%= tools.development[i].name %></div>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a class="openApp" role="menuitem" href="#" data-app-link="<%= tools.development[i].appUrl %>" data-app-name="<%= tools.development[i].name %>" data-app-img-src="<%= tools.development[i].imgUrl %>"><i class="icon-share"></i> 打开</a></li>
                                <li role="presentation"><a class="addToolBox" role="menuitem" href="#"><i class="icon-plus"></i> 加入到我的工具箱</a></li>
                                <li role="presentation"><a class="addWorkflow" role="menuitem" href="#"><i class="icon-retweet"></i> 加入到我的工作流</a></li>
                                <li role="presentation"><a class="appReference" role="menuitem" href="#"><i class="icon-book"></i> 工具文档</a></li>
                            </ul>
                        </div>
                    <% } %>

                    <div class="scroolBar"></div>
                </div>
            </div>
            <div class="cate">
                <div class="leftLine"></div>
                <div class="cateName ms-yh">测试啊</div>
                <div class="cateWrapper">
                    <% for(var i = 0; i < tools.test.length; i++) {%>
                        <div class="tools dropdown">
                            <div class="toolsInner dropdown-toggle" role="button" data-toggle="dropdown"></div>
                            <div class="appIcon">
                                <img src="/static/upload/<%= tools.test[i].imgUrl %>" alt=""/>
                            </div>
                            <div class="appName" title="<%= tools.test[i].name %>"><%= tools.test[i].name %></div>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a class="openApp" role="menuitem" href="#" data-app-link="<%= tools.test[i].appUrl %>" data-app-name="<%= tools.test[i].name %>" data-app-img-src="<%= tools.test[i].imgUrl %>"><i class="icon-share"></i> 打开</a></li>
                                <li role="presentation"><a class="addToolBox" role="menuitem" href="#"><i class="icon-plus"></i> 加入到我的工具箱</a></li>
                                <li role="presentation"><a class="addWorkflow" role="menuitem" href="#"><i class="icon-retweet"></i> 加入到我的工作流</a></li>
                                <li role="presentation"><a class="appReference" role="menuitem" href="#"><i class="icon-book"></i> 工具文档</a></li>
                            </ul>
                        </div>
                    <% } %>

                    <div class="scroolBar"></div>
                </div>
            </div>
            <div class="cate">
                <div class="leftLine"></div>
                <div class="cateName ms-yh">发布呀</div>
                <div class="cateWrapper">
                    <% for(var i = 0; i < tools.publish.length; i++) {%>
                        <div class="tools dropdown">
                            <div class="toolsInner dropdown-toggle" role="button" data-toggle="dropdown"></div>
                            <div class="appIcon">
                                <img src="/static/upload/<%= tools.publish[i].imgUrl %>" alt=""/>
                            </div>
                            <div class="appName" title="<%= tools.publish[i].name %>"><%= tools.publish[i].name %></div>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a class="openApp" role="menuitem" href="#" data-app-link="<%= tools.publish[i].appUrl %>" data-app-name="<%= tools.publish[i].name %>" data-app-img-src="<%= tools.publish[i].imgUrl %>"><i class="icon-share"></i> 打开</a></li>
                                <li role="presentation"><a class="addToolBox" role="menuitem" href="#"><i class="icon-plus"></i> 加入到我的工具箱</a></li>
                                <li role="presentation"><a class="addWorkflow" role="menuitem" href="#"><i class="icon-retweet"></i> 加入到我的工作流</a></li>
                                <li role="presentation"><a class="appReference" role="menuitem" href="#"><i class="icon-book"></i> 工具文档</a></li>
                            </ul>
                        </div>
                    <% } %>

                    <div class="scroolBar"></div>
                </div>
            </div>
            <div class="cate">
                <div class="leftLine"></div>
                <div class="cateName ms-yh">监控哩</div>
                <div class="cateWrapper">
                    <% for(var i = 0; i < tools.monitoring.length; i++) {%>
                        <div class="tools dropdown">
                            <div class="toolsInner dropdown-toggle" role="button" data-toggle="dropdown"></div>
                            <div class="appIcon">
                                <img src="/static/upload/<%= tools.monitoring[i].imgUrl %>" alt=""/>
                            </div>
                            <div class="appName" title="<%= tools.monitoring[i].name %>"><%= tools.monitoring[i].name %></div>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a class="openApp" role="menuitem" href="#" data-app-link="<%= tools.monitoring[i].appUrl %>" data-app-name="<%= tools.monitoring[i].name %>" data-app-img-src="<%= tools.monitoring[i].imgUrl %>"><i class="icon-share"></i> 打开</a></li>
                                <li role="presentation"><a class="addToolBox" role="menuitem" href="#"><i class="icon-plus"></i> 加入到我的工具箱</a></li>
                                <li role="presentation"><a class="addWorkflow" role="menuitem" href="#"><i class="icon-retweet"></i> 加入到我的工作流</a></li>
                                <li role="presentation"><a class="appReference" role="menuitem" href="#"><i class="icon-book"></i> 工具文档</a></li>
                            </ul>
                        </div>
                    <% } %>

                    <div class="scroolBar"></div>
                </div>
            </div>
        </div>

        <div class="bottomTaskBg"></div>

        <div class="bottomBar clear">
            <div class="prevTask">
                <a class="taskPrev" href="#"></a>
            </div>

            <div class="taskContainer clear">

            </div>

            <div class="nextTask">
                <a class="taskNext" href="#"></a>
            </div>
        </div>
    </div>
</div>
    


<script type="text/javascript"
        src="/static/seajs/dist/sea.js"
        data-config="/static/config.js"
        data-main="/static/development/js/index.js"></script>

<% include footer.html %>