<% include header.html %>
<link rel="stylesheet" href="/static/production/css/index.css">
        
<div id="screen">
    <div class="bgWrapper">
        <img src="/static/img/bgimg/bg_10.png" alt=""/>
    </div>
    <div class="main">
        <div class="headerDock">
            <div class="logo">
               <p class="title"><a href="/">方凳聚</a></p>
               <p class="subTitle">晓我工作，聚我所爱</p>
            </div>
            <div class="navBar btn-toolbar">
                <div class="btn-group">
                    <a class="btn btn-large active" href="#"><i class="icon-th"></i>随便逛逛</a>
                    <a class="btn btn-large" href="#"><i class="icon-briefcase"></i>我的工具箱</a>
                    <a class="btn btn-large" href="#"><i class="icon-tasks"></i>我的工作流</a>
                </div>
            </div>
        </div>
        <div class="seprateLine"></div>
        <div class="content">
            <div class="cate">
                <div class="cateName">设计吧</div>
            </div>
            <div class="cate">
                <div class="leftLine"></div>
                <div class="cateName">开发喽</div>
            </div>
            <div class="cate">
                <div class="leftLine"></div>
                <div class="cateName">测试啊</div>
            </div>
            <div class="cate">
                <div class="leftLine"></div>
                <div class="cateName">发布呀</div>
            </div>
            <div class="cate">
                <div class="leftLine"></div>
                <div class="cateName">监控哩</div>
            </div>
        </div>
    </div>
</div>
    


<script type="text/javascript"
        src="/static/seajs/dist/sea.js"
        data-config="/static/config.js"
        data-main="/static/development/js/index.js"></script>

<% include footer.html %>