<% include header.html %>
<link rel="stylesheet" href="/static/production/css/index.css">

<div id="screen">
    <div class="bgWrapper">
        <img src="/static/img/bgimg/bg_05.png" alt=""/>
    </div>

    <div class="main">
        <div class="headerDock">
            <div class="login">
                <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> visitor</a>
            </div>
            <div class="logo">
               <p class="title"><a href="/">方凳聚</a></p>
               <p class="subTitle">晓我工作，聚我所爱</p>
            </div>
            <div class="navBar btn-toolbar">
                <div class="btn-group">
                    <a class="btn btn-large active" href="#"><i class="icon-th"></i>随便逛逛</a>
                    <a class="btn btn-large" href="#"><i class="icon-briefcase"></i>我的工具箱</a>
                    <a class="btn btn-large" href="#"><i class="icon-tasks"></i>我的工作流</a>
                </div>
            </div>
        </div>
        <div class="seprateLine"></div>
        <div class="content">
            <div class="cate">
                <div class="cateName">设计吧</div>
                <div class="cateWrapper">
                    <div class="tools dropdown">
                        <div class="toolsInner dropdown-toggle" role="button" data-toggle="dropdown"></div>
                        <div class="appIcon">
                            <img src="/static/upload/toolsicon/icon_democenter.png" alt=""/>
                        </div>
                        <div class="appName" title="Demo中心">Demo中心</div>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a class="openApp" role="menuitem" href="#" data-app-link="http://demo.alibaba-inc.com/" data-app-name="Demo中心"><i class="icon-share"></i> 打开</a></li>
                            <li role="presentation"><a class="addToolBox" role="menuitem" href="#"><i class="icon-plus"></i> 加入到我的工具箱</a></li>
                            <li role="presentation"><a class="addWorkflow" role="menuitem" href="#"><i class="icon-retweet"></i> 加入到我的工作流</a></li>
                            <li role="presentation"><a class="appReference" role="menuitem" href="#"><i class="icon-book"></i> 工具文档</a></li>
                        </ul>
                    </div>

                    <div class="tools dropdown">
                        <div class="toolsInner dropdown-toggle" role="button" data-toggle="dropdown"></div>
                        <div class="appIcon">
                            <img src="/static/upload/toolsicon/icon_responsive_1.png" alt=""/>
                        </div>
                        <div class="appName" title="响应式设计工具">响应式设计工具</div>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a class="openApp" role="menuitem" href="#" data-app-link="http://resizemybrowser.com/" data-app-name="响应式设计工具"><i class="icon-share"></i> 打开</a></li>
                            <li role="presentation"><a class="addToolBox" role="menuitem" href="#"><i class="icon-plus"></i> 加入到我的工具箱</a></li>
                            <li role="presentation"><a class="addWorkflow" role="menuitem" href="#"><i class="icon-retweet"></i> 加入到我的工作流</a></li>
                            <li role="presentation"><a class="appReference" role="menuitem" href="#"><i class="icon-book"></i> 工具文档</a></li>
                        </ul>
                    </div>

                    <div class="tools dropdown">
                        <div class="toolsInner dropdown-toggle" role="button" data-toggle="dropdown"></div>
                        <div class="appIcon">
                            <img src="/static/upload/toolsicon/icon_jshtmlcss_1.png" alt=""/>
                        </div>
                        <div class="appName" title="jsfiddle">jsfiddle</div>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a class="openApp" role="menuitem" href="#" data-app-link="http://jsfiddle.net/" data-app-name="jsfiddle"><i class="icon-share"></i> 打开</a></li>
                            <li role="presentation"><a class="addToolBox" role="menuitem" href="#"><i class="icon-plus"></i> 加入到我的工具箱</a></li>
                            <li role="presentation"><a class="addWorkflow" role="menuitem" href="#"><i class="icon-retweet"></i> 加入到我的工作流</a></li>
                            <li role="presentation"><a class="appReference" role="menuitem" href="#"><i class="icon-book"></i> 工具文档</a></li>
                        </ul>
                    </div>

                    <div class="tools dropdown">
                        <div class="toolsInner dropdown-toggle" role="button" data-toggle="dropdown"></div>
                        <div class="appIcon">
                            <img src="/static/upload/toolsicon/icon_picknick.png" alt=""/>
                        </div>
                        <div class="appName" title="即视可取的颜色">即视可取的颜色</div>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a class="openApp" role="menuitem" href="#" data-app-link="http://color.aurlien.net/" data-app-name="即视可取的颜色"><i class="icon-share"></i> 打开</a></li>
                            <li role="presentation"><a class="addToolBox" role="menuitem" href="#"><i class="icon-plus"></i> 加入到我的工具箱</a></li>
                            <li role="presentation"><a class="addWorkflow" role="menuitem" href="#"><i class="icon-retweet"></i> 加入到我的工作流</a></li>
                            <li role="presentation"><a class="appReference" role="menuitem" href="#"><i class="icon-book"></i> 工具文档</a></li>
                        </ul>
                    </div>
                    <div class="scroolBar"></div>
                </div>
            </div>
            <div class="cate">
                <div class="leftLine"></div>
                <div class="cateName">开发喽</div>
                <div class="cateWrapper">
                    <div class="tools dropdown">
                        <div class="toolsInner dropdown-toggle" role="button" data-toggle="dropdown"></div>
                        <div class="appIcon">
                            <img src="/static/upload/toolsicon/icon_regularexp_1.gif" alt=""/>
                        </div>
                        <div class="appName" title="正则验证工具">正则验证工具</div>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a class="openApp" role="menuitem" href="#" data-app-link="http://www.regexpal.com/" data-app-name="正则验证工具"><i class="icon-share"></i> 打开</a></li>
                            <li role="presentation"><a class="addToolBox" role="menuitem" href="#"><i class="icon-plus"></i> 加入到我的工具箱</a></li>
                            <li role="presentation"><a class="addWorkflow" role="menuitem" href="#"><i class="icon-retweet"></i> 加入到我的工作流</a></li>
                            <li role="presentation"><a class="appReference" role="menuitem" href="#"><i class="icon-book"></i> 工具文档</a></li>
                        </ul>
                    </div>

                    <div class="tools dropdown">
                        <div class="toolsInner dropdown-toggle" role="button" data-toggle="dropdown"></div>
                        <div class="appIcon">
                            <img src="/static/upload/toolsicon/icon_default.png" alt=""/>
                        </div>
                        <div class="appName" title="正则可视化工具">正则可视化工具</div>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a class="openApp" role="menuitem" href="#" data-app-link="http://www.regexper.com/" data-app-name="正则可视化工具"><i class="icon-share"></i> 打开</a></li>
                            <li role="presentation"><a class="addToolBox" role="menuitem" href="#"><i class="icon-plus"></i> 加入到我的工具箱</a></li>
                            <li role="presentation"><a class="addWorkflow" role="menuitem" href="#"><i class="icon-retweet"></i> 加入到我的工作流</a></li>
                            <li role="presentation"><a class="appReference" role="menuitem" href="#"><i class="icon-book"></i> 工具文档</a></li>
                        </ul>
                    </div>

                    <div class="tools dropdown">
                        <div class="toolsInner dropdown-toggle" role="button" data-toggle="dropdown"></div>
                        <div class="appIcon">
                            <img src="/static/upload/toolsicon/icon_default.png" alt=""/>
                        </div>
                        <div class="appName" title="JSON可视化工具">JSON可视化工具</div>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a class="openApp" role="menuitem" href="#" data-app-link="http://www.bejson.com/go.php?u=http://www.bejson.com/jsonviewernew/" data-app-name="JSON可视化工具"><i class="icon-share"></i> 打开</a></li>
                            <li role="presentation"><a class="addToolBox" role="menuitem" href="#"><i class="icon-plus"></i> 加入到我的工具箱</a></li>
                            <li role="presentation"><a class="addWorkflow" role="menuitem" href="#"><i class="icon-retweet"></i> 加入到我的工作流</a></li>
                            <li role="presentation"><a class="appReference" role="menuitem" href="#"><i class="icon-book"></i> 工具文档</a></li>
                        </ul>
                    </div>

                    <div class="tools dropdown">
                        <div class="toolsInner dropdown-toggle" role="button" data-toggle="dropdown"></div>
                        <div class="appIcon">
                            <img src="/static/upload/toolsicon/icon_jqapi.png" alt=""/>
                        </div>
                        <div class="appName" title="jQuery API">jQuery API</div>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a class="openApp" role="menuitem" href="#" data-app-link="http://api.jquery.com/" data-app-name="jQuery API"><i class="icon-share"></i> 打开</a></li>
                            <li role="presentation"><a class="addToolBox" role="menuitem" href="#"><i class="icon-plus"></i> 加入到我的工具箱</a></li>
                            <li role="presentation"><a class="addWorkflow" role="menuitem" href="#"><i class="icon-retweet"></i> 加入到我的工作流</a></li>
                            <li role="presentation"><a class="appReference" role="menuitem" href="#"><i class="icon-book"></i> 工具文档</a></li>
                        </ul>
                    </div>

                    <div class="scroolBar"></div>
                </div>
            </div>
            <div class="cate">
                <div class="leftLine"></div>
                <div class="cateName">测试啊</div>
                <div class="cateWrapper">
                    <div class="tools dropdown">
                        <div class="toolsInner dropdown-toggle" role="button" data-toggle="dropdown"></div>
                        <div class="appIcon">
                            <img src="/static/upload/toolsicon/icon_fdlint.png" alt=""/>
                        </div>
                        <div class="appName" title="fdlint">fdlint</div>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a class="openApp" role="menuitem" href="#" data-app-link="http://wd.alibaba-inc.com/fdlint" data-app-name="fdlint"><i class="icon-share"></i> 打开</a></li>
                            <li role="presentation"><a class="addToolBox" role="menuitem" href="#"><i class="icon-plus"></i> 加入到我的工具箱</a></li>
                            <li role="presentation"><a class="addWorkflow" role="menuitem" href="#"><i class="icon-retweet"></i> 加入到我的工作流</a></li>
                            <li role="presentation"><a class="appReference" role="menuitem" href="#"><i class="icon-book"></i> 工具文档</a></li>
                        </ul>
                    </div>

                    <div class="scroolBar"></div>
                </div>
            </div>
            <div class="cate">
                <div class="leftLine"></div>
                <div class="cateName">发布呀</div>
                <div class="cateWrapper">
                    <div class="tools dropdown">
                        <div class="toolsInner dropdown-toggle" role="button" data-toggle="dropdown"></div>
                        <div class="appIcon">
                            <img src="/static/upload/toolsicon/icon_ali.png" alt=""/>
                        </div>
                        <div class="appName" title="Aone">Aone</div>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a class="openApp" role="menuitem" href="#" data-app-link="http://aone.alibaba-inc.com/perth/login.do" data-app-name="Aone"><i class="icon-share"></i> 打开</a></li>
                            <li role="presentation"><a class="addToolBox" role="menuitem" href="#"><i class="icon-plus"></i> 加入到我的工具箱</a></li>
                            <li role="presentation"><a class="addWorkflow" role="menuitem" href="#"><i class="icon-retweet"></i> 加入到我的工作流</a></li>
                            <li role="presentation"><a class="appReference" role="menuitem" href="#"><i class="icon-book"></i> 工具文档</a></li>
                        </ul>
                    </div>

                    <div class="scroolBar"></div>
                </div>
            </div>
            <div class="cate">
                <div class="leftLine"></div>
                <div class="cateName">监控哩</div>
                <div class="cateWrapper">
                    <div class="tools dropdown">
                        <div class="toolsInner dropdown-toggle" role="button" data-toggle="dropdown"></div>
                        <div class="appIcon">
                            <img src="/static/upload/toolsicon/icon_fdsafe.png" alt=""/>
                        </div>
                        <div class="appName" title="fdsafe">fdsafe</div>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a class="openApp" role="menuitem" href="#" data-app-link="http://wd.alibaba-inc.com/monitor/" data-app-name="fdsafe"><i class="icon-share"></i> 打开</a></li>
                            <li role="presentation"><a class="addToolBox" role="menuitem" href="#"><i class="icon-plus"></i> 加入到我的工具箱</a></li>
                            <li role="presentation"><a class="addWorkflow" role="menuitem" href="#"><i class="icon-retweet"></i> 加入到我的工作流</a></li>
                            <li role="presentation"><a class="appReference" role="menuitem" href="#"><i class="icon-book"></i> 工具文档</a></li>
                        </ul>
                    </div>

                    <div class="scroolBar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
    


<script type="text/javascript"
        src="/static/seajs/dist/sea.js"
        data-config="/static/config.js"
        data-main="/static/development/js/index.js"></script>

<% include footer.html %>