html {
  overflow: hidden;
}

body {
  background-color: #5f9ea0;
}

.bgWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.bgWrapper img {
  position: absolute;
  left: 0;
  top: 0;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 99;

  .headerDock {
    height: 60px;
    overflow: hidden;
    padding: 10px;
    background: url(/static/img/amg_top.png) repeat-x;
    position: relative;

    .navBar {
      width: 430px;
    }

    .login {
      position: absolute;
      right: 20%;
      top: 20px;
    }

    .logo {
      position: absolute;
      right: 20px;
      top: 20px;
      color: #FFFFFF;

      p {
        text-align: right;
      }

      .title {
        font-size: 30px;
        a {
          color: #fff;
          &:hover {
            color: #005580;
            text-decoration: none;
          }
        }
      }

      .subTitle {
        padding-top: 5px;
      }
    }
  ;
  }

  .seprateLine {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #666;
    font-size: 0;
    height: 0;
    width: 100%;
  }

  .content {
    overflow: hidden;
    background: url(/static/img/amg_body.png) repeat;

    .cate {
      width: 20%;
      height: 100%;
      overflow: hidden;
      float: left;
      position: relative;
      padding: 10px 0 0 0;

      .leftLine {
        width: 3px;
        height: 100%;
        position: absolute;
        left: -1px;
        top: 0;
        background: url(/static/img/line_y.png) repeat-y;
      }

      .cateName {
        width: 30px;
        height: 100px;
        top: 0;
        right: 0;
        position: absolute;
        font-size: 22px;
        line-height: 30px;
        padding-top: 10px;
        color: #fff;
        opacity: .3;
        filter: alpha(opacity=30);
      }
      
      .cateWrapper {
        position: relative;
        min-width: 180px;
        height: 100%;
        overflow: hidden;
        z-index: 2;
        margin: 5px 0;

        .tools {
          height: 30px;
          width: auto;
          font-size: 12px;
          color: #fff;
          cursor: pointer;
          margin: 0 0 8px 0;
          padding-left: 20px;

          &:hover {
            background: rgba(255,255,255,.4);
          }

          .toolsInner {
            width: 100%;
            height: 30px;
            position: absolute;
            top: 0;
            left: 0;
          }

          .appIcon {
            float: left;
            margin-top: 2px;
            border: 1px solid #F3F7F4;
            -webkit-box-shadow: -3px 3px 5px 2px rgba(37, 106, 54, .5);
            box-shadow: -3px 3px 5px 2px rgba(37, 106, 54, .5);
            -webkit-border-radius: 3px;
            border-radius: 3px;

            img {
              width: 26px;
              height: 26px;
            }
          }

          .appName {
            height: 20px;
            margin: 6px 0 0 10px;
            overflow: hidden;
            float: left;
          }
        }
      }

    }
  }
}

.ui-dialog {
  .ui-dialog-content {
    padding: 0;
  }
}

.ui-dialog {
  .ui-dialog-titlebar {
    padding: 0 10px;
    height: 25px;
    background: url('/static/img/repeat_x.png') repeat 0 -31px;
    border: none;
    border-bottom: 1px solid #fcfcfc;
  }
}

.customDialog {
  .handleBar {
    .handleFunction {
      width: 100px;
      .refreshApp {
        margin-right: 5px;
      }

      .addToolBox {
        margin-right: 5px;
      }
    }

    .title {
      color: #444;
      position: absolute;
      left: 45%;
      top: 0;
    }

    .handleWindow {
      position: absolute;
      right: 10px;
      top: 0;

      .icon-minisize, .icon-maxsize, .icon-close {
        background-image: url('/static/img/dialog.png');
      }

      .icon-minisize {
        background-position: -9px -36px;
        margin-right: 5px;

        &:hover {
          background-position: -9px -8px;
        }
      }

      .icon-maxsize {
        background-position: -38px -36px;
        margin-right: 5px;

        &:hover {
          background-position: -38px -7px;
        }
      }

      .icon-close {
        background-position: -67px -36px;

        &:hover {
          background-position: -67px -7px;
        }
      }

      .restore {
        .icon-maxsize {
          background-position: -97px -37px;
          margin-right: 5px;

          &:hover {
            background-position: -97px -8px;
          }
        }
      }
    }
  }
}