html {
  overflow: hidden;
}
.bgWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
.bgWrapper img {
  position: absolute;
  left: 0;
  top: 0;
}
.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}
.main .headerDock {
  height: 60px;
  overflow: hidden;
  padding: 10px;
  background: url(/static/img/amg_top.png) repeat-x;
  position: relative;
}
.main .headerDock .navBar {
  width: 430px;
}
.main .headerDock .logo {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #FFFFFF;
}
.main .headerDock .logo p {
  text-align: right;
}
.main .headerDock .logo .title {
  font-size: 30px;
}
.main .headerDock .logo .title a {
  color: #fff;
}
.main .headerDock .logo .title a:hover {
  color: #005580;
  text-decoration: none;
}
.main .headerDock .logo .subTitle {
  padding-top: 5px;
}
.main .seprateLine {
  background: none repeat scroll 0 0 transparent;
  border-bottom: 1px solid #666;
  font-size: 0;
  height: 0;
  width: 100%;
}
.main .content {
  overflow: hidden;
  background: url(/static/img/amg_body.png) repeat;
}
.main .content .cate {
  width: 20%;
  height: 100%;
  overflow: hidden;
  float: left;
  position: relative;
  padding: 10px 0 0 0;
}
.main .content .cate .leftLine {
  width: 3px;
  height: 100%;
  position: absolute;
  left: -1px;
  top: 0;
  background: url(/static/img/line_y.png) repeat-y;
}
.main .content .cate .cateName {
  width: 30px;
  height: 100px;
  top: 0;
  right: 0;
  position: absolute;
  font-size: 22px;
  line-height: 30px;
  padding-top: 10px;
  color: #fff;
  opacity: .3;
  filter: alpha(opacity=30);
}
